html {
	min-height: 100%;
	display:flex;
	flex-direction: column;
	overflow-y: scroll;
}

body {
	flex: 1;
	margin: 0;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #DDD;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
}

.main {
	flex: 1;
	display: flex;
}

// left and right is a pair used in main class.
.left {
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
}

// one is used alone in main class.
.one {
	padding: 1rem;
	flex: 1;
	background-color: #FAFAFA;
}

.invisible {
	visibility: hidden !important
}

.nodisplay {
	display: none !important
}
